.DS_Store
db/data/*
!db/data/.gitkeep
api/.bundle
!api/.bundle/.gitkeep

api/log/*
api/tmp/*
!api/log/.keep
!api/tmp/.keep

# Ignore uploaded files in development.
api/storage/*
!api/storage/.keep
api/.byebug_history

# Ignore master key for decrypting credentials and more.
api/config/master.key